# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.env

# Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
face-api/
public/models/
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
*.png
*.jpg
*.jpeg
uploads/
temp/

# System files
Thumbs.db